/* Stlyed by Brendon Carrasquillo (12/12/2017) */

/* General Page Styling */
html {
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica;
  background-color: white;
}

/* Banner/Navigation Styling */
.main-banner {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
  padding-top: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  width: 960px;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.logo img {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}

.logo h4 {
  color: white;
  font-size: 1rem;
}

nav {
  display: flex;
}

nav span {
  align-items: center;
  color: white;
  margin-right: 2rem;
  padding: 1rem 0rem;
}

#menu {
  display: none;
}

.slogan {
  display: flex;
  justify-content: flex-end;
  width: 960px;
  margin:auto;
}

.slogan h1 {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

/* Service List Styling */
.service-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 8rem;
  margin: 3rem auto;
}

.exams,
.custom-fittings,
.delivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: visible;
  width: 5rem;
  height: 8rem;
  margin: 0 3rem;
}

.exams img {
  width: 3.5rem;
  align-items: center;
}

.exams h3,
.custom-fittings h3,
.delivery h3 {
  text-align: center;
  font-size: 1rem;
  color: black;
}

.custom-fittings img,
.delivery img {
  max-width: 100%;
  height: auto;
  display: block;

}

/* Philosophy & Appointments Styling */
.philo-appt {
  display: flex;
  justify-content: center;
  max-width: 960px;
  margin: auto;
  margin-bottom: 5rem;
}

.philosophy {
  margin-right: 5%;
}

.philosophy,
.appointments {
  display: block;
  width: 35%;
}

.philo-appt h3 {
  background-color: cadetblue;
  font-family: helvetica;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: .5rem 1.25rem;
  margin-bottom: 1rem;
  width: 10rem;
}

.philo-appt p {
  font-size: 1rem;
  line-height: 150%;
  font-weight: lighter;
}

/* Footer Styling */
footer {
  max-width: 960px;
  margin: auto;
  background-color: azure;
  padding: 4rem;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
  margin-right: 1rem;
  height: 1.5rem;
}

#footertxt {
  display: block;
}





/* Styling for TABLET size screens */
@media only screen and (max-width: 960px) {
  /* Banner/Navigation Styling. Styling added includes: */
  /*      1. deleted padding at top of main banner container */
  /*      2. Directed the header to span the full width of the screen */
  /*      3. Adjusted the position of the slogan container */
  /*      4. Reduced size of text within the slogan container */
  .main-banner  {
    padding-top: 0rem;
    height: 22rem;
  }

  header {
    width: auto;
  }

  .slogan h1 {
    font-size: 1.33rem;
    padding: .75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
}





/* Styling for MOBILE PHONE size screens */
@media only screen and (max-width: 470px) {
  /* Banner/Navigation Styling. Styling added includes: */
  /*      1. reduced banner height */
  /*      2. Directed the nav list to be shortened to just "menu" */
  /*      3. Directed slogan container to span the width of the container */
  /*      4. Reduced size of text withing the slogan container */
  /*      5. Increased margin between top of slogan container and bottom of nav */
  /*      6. Directed logo text to not display. */
  .main-banner  {
    padding-top: 0rem;
    height: 17rem;
    background-position: 20%;
  }

  #menu {
    display: block;
  }

  #logotxt,
  #services,
  #products,
  #contact {
    display: none;
  }

  header {
    width: auto;
  }

  .slogan {
    display: block;
    width: auto;
    margin-right: 0rem;
  }

  .slogan h1 {
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0rem;
    margin-top: 9rem;
    margin-right: auto;
  }

  /* Service List Styling. Styling added includes: */
  /*      1. Increased top and bottom margin to 3.77rem */
  /*      2. Directed items to flex as a column */
  /*      3. Added margin of 1.54rem btw bottom of headers and top of images */
  .service-list {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    margin: 3.77rem auto;
  }

  .exams,
  .custom-fittings,
  .delivery {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: visible;
    width: 5rem;
    height: auto;
  }

  .custom-fittings img,
  .delivery img {
    margin-top: 1.54rem;
  }

  .exams h3,
  .custom-fittings h3,
  .delivery h3 {
    margin-top: 1.25rem;
    font-size: .77rem;
  }

  /* Philosophy & Appointments Styling. Stlying includes: */
  /*      1. Made headers and <p> elements full width of screen */
  /*      2. Directed items to flex as a column */
  /*      3. Decreased font size of paragragh elements */
  /*      4. Added margin of 4rem btw philosophy and appointment containers */
  .philo-appt {
    display: flex;
    flex-direction: column;
    max-width: none;
    margin: auto;
    margin-bottom: auto;
  }

  .philosophy {
    margin-right: auto;
  }

  .philosophy,
  .appointments {
    display: block;
    width: auto;
    margin-bottom: 4rem;
  }

  .philo-appt h3 {
    background-color: cadetblue;
    font-family: helvetica;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: white;
    padding: auto;
    margin-bottom: 1rem;
    width: auto;
  }

  .philo-appt p {
    font-size: .77rem;
    line-height: 150%;
    font-weight: lighter;
    margin-left: .25rem;
  }

  /* Footer Styling. Styling includes: */
  /*      1. made footer 100% of page bottom */
  /*      2. removed logo text */
  /*      3. centered image vertically and horizontally in container */
  footer {
    max-width: auto;
    margin: auto;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-logo img {
    margin: auto;
    height: 1.5rem;
  }

  #footertxt {
    display: none;
  }

}
